* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	outline: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
header, section, article, aside, nav, footer, address {
	display: block;
}
body {
	font-family: 'open_sansregular',Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #333;
	overflow-x: hidden;
	min-width: 320px;
}
input,textarea,select{
	font-family: 'open_sansregular',Arial, Helvetica, sans-serif;
}
a{
	color: #333;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: 'open_sanslight';
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.left{
	float: left;
}
.right{
	float: right;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1200px;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#home{
	background :#D1A223;
	padding: 2% 0 7%;
}
header{
	text-align: center;
	color: #fff;
	}
header h1{
	float: left;
}
header h1 a{
	width: 80px;
}
header h1 a img{

}
header nav{
	line-height: 80px;
}
header nav ul{
 
}
header nav ul li{
	display: inline-block;
    text-align: center;
    border-radius: 50px;
    margin-right: 35px;
}
header nav ul li:nth-child(3){
	margin-right: 0;
}
header nav ul li a{
	color: #fff;
	font-size: 18px;
	display: inline-block;
	font-style: bold;
}
#spotlight{
	text-align: center;
	color: #fff;
	margin-top: 15%;
}
#spotlight h1{
	font-family: 'open_sanssemibold'; 
	font-size: 50px;
	text-align: center;
}
#spotlight p{
	color: #fff;
    font-size: 16px;
    width: 75%;
    margin: 2% auto;
}
#spotlight a.button{
	display: inline-block;
	padding: 20px 55px;
	border-radius: 50px;
	background: #000;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
}
#about{
	background: #303030;
	width: 100%;
}
#about .widget{
	float: left;
 	text-align: center;
 	width: 33.33%;
 	color: #fff;
 	padding:100px 60px;
 	box-sizing: border-box;
 	background-color: #303030;
}
#about .widget.middle{
	border-left: 0.5px solid #D1A223;
	border-right: 0.5px solid #D1A223;
	box-sizing: border-box;
}
#about .widget .round-icon{
	width: 120px;
	height: 120px;
	border: 2px solid #ffcc00;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	display: inline-block;
	padding-top: 25px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
#about .widget .round-icon small{
	width: 86px;
	height: 80px;
	background: url("../images/sprite-space.png") no-repeat -155px -79px;
	display: inline-block;
}
#about .widget .round-icon.icon2 small{
	background-position: 7px -77px;
}
#about .widget .round-icon.icon3 small{
	background-position: -71px -77px;
}
#about .widget h3{
	font-size: 45px;
	font-family: 'open_sansregular';
	margin: 3% auto;
	text-decoration-style: solid;
	color: #ffcc00;
}
#about .widget p{
	color: #fff;
}
#middle{
	text-align: center;
	padding: 4% 0;
}
#middle h2{
	font-size: 45px;
	color: #ffcc00;
	margin-bottom: 5%;
	font-family:  'open_sanssemibold';
	text-decoration-style: solid;
}
#middle ul{
	margin: 0 auto;
	float: left;
	width: 100%;
}
#middle ul li.card{
	float: left;
	width: 48%;
	padding: 5%;
	margin-left: 4%;
	margin-bottom: 4%;
	text-align: center;
}
.card{
	background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 60px 70px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#middle ul li.card:first-child{
	margin-left: 0;
}
#middle ul li.card a{
	text-align: center;
}
#middle ul li.card h3 a{
	text-align: center;
	font-size: 30px;
	font-family: 'open_sanssemibold';
	color: #FBC641;
	text-transform: uppercase;
}
#middle ul li.card a img{
	width: 95px;
	margin: 0 auto;
}
#middle ul li.card h3{
	margin: 5% 0 ; 
}
#middle ul li.card p{
	text-align: center;
    color: gray;
    font-family: 'open_sanslight';
}
#middle ul li.card a.button{
	padding: 4% 10%;
	border-radius: 35px;
	background: #FBC02D;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
	margin: 5% 0 0 0;
}
#main{

}
#main section.content-item{
	padding: 6.5% 0;
	background-color: #D1A223
}
#main section.content-item img{
	margin-right: 3%;
}
#main section.content-item div{
	float: none;
}
#main section.content-item div.right{

}

#main section.content-item div h3{
	color: #fff;
    margin-bottom: 1%;
    font-size: 50px;
}
#main section.content-item div.right h3{

}
#main section.content-item div p{
	font-family: 'open_sanslight';
}
#main section.content-item div.right p{
	color: #fff;
}
#main section.content-item.middle {
	background-color: #fff;
}
#main section.content-item.middle div h3{
	color: #000;
}
#main section.content-item.middle img{
	margin-right: 0;
}
#main section.content-item.middle div.left{

}
#main section.content-item.middle div.left h3{

}
#main section.content-item.middle div.left p{

}
footer{
	text-align: center;
}
footer .top{
	background-color: #303030;
	padding: 5% 0;
}
footer .top div.item{
	float: left;
	text-align: center;
	width: 33.33%;
	color: #fff;
}
footer .top div.item span.icon{
	height: 60px;
	width: 60px;
	display: inline-block;
}
footer .top div.item span img{
	height: 40px;
}
footer .top div.item a{
	color: #fff;
	font-size: 20px;
}
footer .top div.item p{
	color: #fff;
	font-family: 'open_sansregular';
	font-size: 20px;
}
footer .bottom{
	background-color: #000000;
	padding: 20px 0;
}
footer .bottom p{
	color: #fff;
}
footer .bottom p a{
	color: #fff;
}
footer .bottom p.left{
	
}
footer .bottom p.right{

}
/*@media all and (max-width: 1280px){
	#main section.content-item h3{
		font-size: 45px;
	}
}
@media all and (max-width: 980px){
	#main section.content-item h3{
		font-size: 42px;
	}
}
@media all and (max-width: 768px){
	#about .widget{
		width: 100%;
	}
	#about .widget.middle{
		border-left: none;
		border-right: none;
		border-top: 0.5px solid #D1A223 !important;
		border-bottom: 0.5px solid #D1A223 !important;
		box-sizing: border-box;
	}
	#middle ul li.card{
		width: 100%;
		height: auto !important;
		margin-left: 0;

	}
	#middle ul li.card:last-child{
		margin-bottom: -1%;
	}
	#main section.content-item{
		float: none;
		width: 100%;
	}
	#main section.content-item h3{
		font-size: 35px;
	}
}
@media all and (max-width: 640px){
	
}
@media all and (max-width: 480px){
	
}
@media all and (max-width: 360px){
	
}
@media all and (max-width: 320px){
	
}*/